.card-container {
    display: inline-flex;
    max-width: 400px; /* Adjust this value as needed */
    margin: 1rem;   /* Center the card horizontally */
  }
  
/* If you want to set a fixed width instead of a max-width */
.fixed-width-card {
width: 300px; /* Adjust this value as needed */
margin: 0 auto; /* Center the card horizontally */
}

.mt-5 {
  margin-top: 2rem; /* Adjust to your desired size */
  margin-bottom: 2rem;
}

.mr-2 {
  margin-right: 1rem;
}

p-progressSpinner {
  height: 1rem;
}