<div *ngIf="!itemsLoading()">
    <form [formGroup]="editItem" (ngSubmit)="submitUpdate()">
        <label for="title">Title: </label>
        <input id="title" type="text" formControlName="title">
    <br>
    <label for="description">Description: </label>
    <textarea id="description" formControlName="description"></textarea> 
    <br>
    <label for="done">Done: </label>
    <input id="done" type="checkbox" formControlName="done">
    <button type="submit" [disabled]="editItem.invalid">Save</button>
    </form>
</div>