<h2>Tasks : </h2>

<div class="flex-container">
    <div *ngIf="!itemsLoading() && items()">
        <p-card *ngFor="let item of items(); index as i" header="Simple Card" class="my-1 card-container">
            <div class="my-5">
                <p class="m-0">
                    {{ item.title }}, {{ item.id }}
                </p>
                <p class="m-0">
                    {{ item.description }}
                </p>
                <!-- Done: <p-checkbox [(ngModel)]="item.done" [binary]="true" inputId="binary" /> -->
                 Done : {{item.done}}
            </div>
            <div class="mt-5">
                <button 
                    pButton 
                    pRipple 
                    label="Edit" 
                    class="p-button-success mr-2"
                    (click)="editItem(item.id)">
                </button>
                <button 
                    pButton 
                    pRipple 
                    label="Delete" 
                    class="p-button-danger"
                    (click)="deleteItem(item.id)"
                    >
                    
                </button>
            </div>
        </p-card>
    </div>
    <div *ngIf="itemsLoading()">
        <p-progressSpinner ariaLabel="loading" />
    </div>
    <div *ngIf="!itemsLoading() && (!items() || items().length == 0)">
        No items to display
    </div>