<h2>Tasks : </h2>

<div class="flex-container">
    <div *ngIf="!itemsLoading()">
        <p-card *ngFor="let item of items(); index as i" header="Simple Card" class="my-1 card-container">
            <div class="my-5">
                <p class="m-0">
                    {{ item.task }}, {{ item.id }}
                </p>
                <!-- Done: <p-checkbox [(ngModel)]="item.done" [binary]="true" inputId="binary" /> -->
                 Done : {{item.done}}
            </div>
            <div class="mt-5">
                <button 
                    pButton 
                    pRipple 
                    label="Edit" 
                    class="p-button-success mr-2">
                </button>
                <button 
                    pButton 
                    pRipple 
                    label="Delete" 
                    class="p-button-danger">
                </button>
            </div>
        </p-card>
    </div>
    <div *ngIf="itemsLoading()">
        <p-progressSpinner ariaLabel="loading" />
    </div>
</div>